
@tailwind components;
@tailwind utilities;

nav {



    transition: background-color 0.3s ease-in-out;

    .logo-box a {
        transition: color 0.3s ease-in-out;
    }

    .logo-box a:hover {
        color: #2D9CDB;
    }

    .link-box a {
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    .link-box a:hover {
        color: #2D9CDB;
    }

    .link-box a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -5px;
        transition: width 0.3s ease-in-out;
    }

    .link-box a:hover::after {
        width: 100%;
    }

    span {
        transition: color 0.3s ease-in-out;
        cursor: pointer;
    }

    span:hover {
        color: #2D9CDB;
    }

    img {
        transition: transform 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.2);
    }


    background: #151D20;

    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 80px;

    .link-box {


        a {
            color: #FBFBFB;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }
    }

    .logo-box {
        #logo {
            color: #2D9CDB;
            font-size: 20px;
        }
    }

    .social-box {
        height: 100%;
        width: 100%;
    }
}


body {
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Titillium Web', sans-serif;

}


a{
    text-decoration: none;
}

img{
    &:hover{
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}


.hobby-image {
    transition: opacity 0.5s ease-in-out;
}

.appear {

    animation: 1s fadeIn;
    animation-fill-mode: forwards;

    visibility: hidden;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.vertical-bar {
    width: 1px;
    margin-left: 1em;
    margin-right: 1em;
    background: white;

    height: 2vh;
}

a{
    font-family: 'Titillium Web', sans-serif;

}