<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Confirm Commendation</h1>
    <p>{{commendation}}</p>
    <p>By : {{name}}</p>

    <a href="{{url}}">Confirm</a>
</body>
</html>